$white-gray: #F9F9F9;
$light-gray: #E3E3E3;
$dark-gray: #D3D3D3;
$maroon: #D10606;
$light-blue: #5A89FF;
$sky-blue: #EFF4FF;
$navy: #112558;
$red: #E80000;
$white: #ffffff;

$title: "Pacifico", sans-serif;
$raleway: "Raleway", sans-serif;

%border-light {
  border-color: $light-gray;
  border-width: 1px;
  border-style: solid;
}

%border-dark {
  border-color: $dark-gray;
  border-width: 1px;
  border-style: solid;
}

%border-navy-thin {
  border-width: 1px;
  border-style: solid;
  border-color: $navy;
  border-radius: 5px;
}

%flex-col {
  display: flex;
  flex-direction: column;
}

%avatar-dim-l {
  width: 50px;
  height: 50px;
}

%avatar-dim-s {
  width: 40px;
  height: 40px;
}
