.feedContainer {
  display: flex;
  margin: auto;
  margin-top: 50px;
  width: 952px;
}

.feed-profile-name {
  padding: 5px;
  font-weight: 500;
}


/*
██████   ██████  ███████ ████████ ███████
██   ██ ██    ██ ██         ██    ██
██████  ██    ██ ███████    ██    ███████
██      ██    ██      ██    ██         ██
██       ██████  ███████    ██    ███████
*/




.post-index-container {
  @extend %flex-c;
  width: 602px;
}


.post-index-item {
  font-family: $raleway;
  width: 600px;
  height: 950px;
  @extend %border-light;
  margin-bottom: 75px;
  background-color: $white;
}

.post-index-image {
  height: 600px;
  width: 600px;
}

.post-index-image-preview{
  height: 600px;
  width: 600px;
  object-fit: cover;
}

.post-index-profile {
  display: flex;
  align-items: center;
}

.post-index-profile-pic {
  @extend %avatar-dim-s;
  padding: 10px;
}

.post-index-profile-pic img {
  @extend %avatar-dim-s;
  border-radius: 20px;
  object-fit: cover;
}


.post-index-info {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  overflow-y: auto;
}


.post-index-info li {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}



.post-index-all-text {
  height: 290px;
  @extend %flex-c;
  justify-content: space-between;
}

/*
███████ ██ ██████  ███████ ██████   █████  ██████
██      ██ ██   ██ ██      ██   ██ ██   ██ ██   ██
███████ ██ ██   ██ █████   ██████  ███████ ██████
     ██ ██ ██   ██ ██      ██   ██ ██   ██ ██   ██
███████ ██ ██████  ███████ ██████  ██   ██ ██   ██
*/


.sidebar-container {
  @extend %border-light;
  width: 275px;
  height: 300px;
  margin-left: 75px;
  background-color: $white;
  position: sticky;
  top: 126px;
  @extend %flex-c;
  font-family: $raleway;
}

.sidebar-profile {
  display: flex;
  align-items: center;
}

.sidebar-profile-pic {
  @extend %avatar-dim-l;
  margin: 10px;
}


.sidebar-profile-pic img {
  @extend %avatar-dim-l;
  border-radius: 25px;
  object-fit: cover;
}

.sidebar-info {
  @extend %flex-c;
  padding: 10px;
  height: 235px;
}

.sidebar-followed {
  overflow: auto;
}

.sidebar-info-first {
  display: flex;
  margin-bottom: 15px;
}

.sidebar-text {
}

.sidebar-divide {
  border-bottom: 1px solid #D3D3D3;
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}
