.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
██████   ██████  ███████ ████████     ███    ██ ███████ ██     ██
██   ██ ██    ██ ██         ██        ████   ██ ██      ██     ██
██████  ██    ██ ███████    ██        ██ ██  ██ █████   ██  █  ██
██      ██    ██      ██    ██        ██  ██ ██ ██      ██ ███ ██
██       ██████  ███████    ██        ██   ████ ███████  ███ ███
*/



.post-new-container {
  border-radius: 1px;
  height: 600px;
  width: 950px;
  background-color: #ffffff;
  font-family: $raleway;
}

.post-new-image {
  width: 600px;
  height: 600px;
  background-color: lightgray;
}

.post-new-image-preview {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.post-new-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.post-new-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 350px;
}

.post-new-errors {
  text-align: center;
  color: $maroon;
}

.post-new-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

input[type="file"] {
  display: none;
}

.post-file-upload {
  /* border: 1px solid #ccc; */
  border: 2px solid $navy;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

.post-new-submit textarea {
  resize: none;
  border-width: 1px;
  border-style: solid;
  border-color: $navy;
  border-radius: 5px;
}

.post-new-submit button {
  text-align: center;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 40%;
  margin: 30px;
  background-color: $navy;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
}

.x-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 48px;
  width: 48px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $navy;
}



/*
██████   ██████  ███████ ████████     ███████ ██   ██  ██████  ██     ██
██   ██ ██    ██ ██         ██        ██      ██   ██ ██    ██ ██     ██
██████  ██    ██ ███████    ██        ███████ ███████ ██    ██ ██  █  ██
██      ██    ██      ██    ██             ██ ██   ██ ██    ██ ██ ███ ██
██       ██████  ███████    ██        ███████ ██   ██  ██████   ███ ███
*/


.post-show-container {
  display: flex;
  flex-direction: row;
  border-radius: 1px;
  height: 600px;
  width: 950px;
  background-color: #ffffff;
  font-family: $raleway;
}

.post-show-image {
  width: 600px;
  height: 600px;
}

.post-show-image-preview {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.post-show-side {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 350px;
}

.post-show-profile {
  display: flex;
  align-items: center;
}

.post-show-profile-pic {
  width: 50px;
  height: 50px;
  margin: 20px;
}

.post-show-profile-name {
  padding: 5px;
}

.post-show-profile-pic img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.post-show-sidebar-info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.post-show-sidebar-info li {
  padding-top: 10px;
  padding-bottom: 5px;
}

.post-show-divide {
  border-bottom: 1px solid #D3D3D3;
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.post-show-sidebar-info-second {
  display: flex;
}
