.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post-modal-profile {
  display: flex;
  align-items: center;
}

.post-modal-profile-pic {
  @extend %avatar-dim-l;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.post-modal-profile-name {
  padding: 5px;
  font-weight: 500;
}

.post-modal-profile-pic img {
  @extend %avatar-dim-l;
  border-radius: 25px;
  object-fit: cover;
}

/*
██████   ██████  ███████ ████████     ███    ██ ███████ ██     ██
██   ██ ██    ██ ██         ██        ████   ██ ██      ██     ██
██████  ██    ██ ███████    ██        ██ ██  ██ █████   ██  █  ██
██      ██    ██      ██    ██        ██  ██ ██ ██      ██ ███ ██
██       ██████  ███████    ██        ██   ████ ███████  ███ ███
*/



.post-new-container {
  border-radius: 1px;
  height: 600px;
  width: 950px;
  background-color: $white;
  font-family: $raleway;
}

.post-new-image {
  width: 600px;
  height: 600px;
  background-color: lightgray;
}

.post-new-image-preview {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.post-new-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.post-new-side {
  @extend %flex-c;
  height: 600px;
  width: 350px;
}

.post-new-errors {
  text-align: center;
  color: $maroon;
}

.post-new-submit {
  @extend %flex-c;
  align-items: center;
  margin: auto;
}

input[type="file"] {
  display: none;
}

.post-file-upload {
  border: 2px solid $navy;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

.post-new-submit textarea {
  padding-left: 5px;
  resize: none;
  @extend %border-navy-thin;
}

.post-new-submit button {
  text-align: center;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 40%;
  margin: 30px;
  background-color: $navy;
  color: $white;
  font-weight: 500;
  font-size: 20px;
}

.x-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 48px;
  width: 48px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $navy;
}





/*
██████   ██████  ███████ ████████     ███████ ██   ██  ██████  ██     ██
██   ██ ██    ██ ██         ██        ██      ██   ██ ██    ██ ██     ██
██████  ██    ██ ███████    ██        ███████ ███████ ██    ██ ██  █  ██
██      ██    ██      ██    ██             ██ ██   ██ ██    ██ ██ ███ ██
██       ██████  ███████    ██        ███████ ██   ██  ██████   ███ ███
*/


.post-show-container {
  display: flex;
  flex-direction: row;
  border-radius: 1px;
  height: 600px;
  width: 950px;
  background-color: $white;
  font-family: $raleway;
}

.post-show-image {
  width: 600px;
  height: 600px;
}

.post-show-image-preview {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.post-show-side {
  @extend %flex-c;
  height: 600px;
  width: 350px;
}

.post-show-sidebar-info {
  @extend %flex-c;
  padding-left: 15px;
  padding-right: 20px;
}

.post-show-sidebar-info li {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.post-show-divide {
  border-bottom: 1px solid #D3D3D3;
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 5px;
}

.post-show-sidebar-info-span {
  display: flex;
}

.down-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 48px;
  width: 48px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $navy;
}

.down-dropdown {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 80px;
  @extend %flex-c;
  align-items: center;
}

.rotate {
  transform: rotate(180deg);
}

.down-dropdown-button-li{
  cursor: pointer;
  color: $navy;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid $white-gray;
  border-radius: 5px;
  text-align: center;
  background-color: $sky-blue;
}

.down-dropdown-button-li:hover{
  color: $white;
  background-color: $navy;
}


.post-show-all-text {
  height: 529px;
  @extend %flex-c;
  justify-content: space-between;
}

.post-show-edit {
  padding-left: 5px;
  resize: none;
  @extend %border-navy-thin;
  border-radius: 5px;
  width: 300px;
  height: 50px;
}

.post-delete-container{
  position: absolute;
  top: 250px;
  right: 325px;
  width: 300px;
  height: auto;
  background-color: $white-gray;
  border-radius: 5px;
  @extend %border-navy-thin;
  padding-bottom: 5px;
}

.post-delete-prompt {
  text-align: center;
  font-size: 18px;
  margin: 10px;
}

.post-delete-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-delete-buttons-li {
  color: $navy;
  @extend %border-navy-thin;
  border-radius: 5px;
  text-align: center;
  padding: 3px 10px;
  margin: 10px;
  background-color: $sky-blue;
  width: 30%;
  font-size: 18px;
  cursor: pointer;
}

.post-delete-buttons-li:hover {
  color: $white;
  background-color: $navy;
}
