.sessionContainer {
  display: flex;
  align-items: center;
  margin: auto;
  width: 732px;
  height: 60%;
  margin-top: 150px;
  font-family: $raleway;
}

.sessionFormContainer{
  @extend %border-light;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  width: 360px;
  height: 440px;
}

.sessionFormContainerWithErrors{
  @extend %border-light;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  width: 360px;
  height: 520px;
}

.sessionPicContainer {
  background-image: image-url("session_pic.jpeg");
  width: 340px;
  height: 426px;
  margin-right: 30px;
}

.sessionForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sessionPrompt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.session-prompt-link {
  color: $light-blue;
}

.title {
  font-family: $title;
}

.sessionForm form {
  width: 208px;
}

.sessionForm h1 {
  font-size: 48px;
  padding: 10px;
  margin: 10px;
}

.sessionForm label{
}

.sessionForm input {
  width: 208px;
  border-width: 1px;
  border-style: solid;
  border-color: #D3D3D3;
  height: 25px;
  border-radius: 3px;
  padding-left: 5px;
  box-sizing: border-box;
}

.session-button {
  text-align: center;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  background-color: $navy;
  color: #ffffff;
  font-weight: 500;
}

.sessionErrors {
  text-align: center;
  color: $maroon;
}

.sessionDemo {
  padding-top: 20px;
  color: $light-blue;
  cursor: pointer;
}
