/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */



@import "base/reset.scss";
@import "base/variables.scss";

@import "components/*";

/*
 ██████  ██████  ███    ██ ████████  █████  ██ ███    ██ ███████ ██████  ███████
██      ██    ██ ████   ██    ██    ██   ██ ██ ████   ██ ██      ██   ██ ██
██      ██    ██ ██ ██  ██    ██    ███████ ██ ██ ██  ██ █████   ██████  ███████
██      ██    ██ ██  ██ ██    ██    ██   ██ ██ ██  ██ ██ ██      ██   ██      ██
 ██████  ██████  ██   ████    ██    ██   ██ ██ ██   ████ ███████ ██   ██ ███████
*/

body {
  background-color: $white-gray;
}


.home-container {
  @extend %flex-c;
}

.grayed-icon {
  color: $dark-gray;
}

.sidebar-icon {
  margin-right: 20px;
}

.sidebar-icon-red {
  margin-right: 20px;
  color: $red;
}

/*
██████   ██████  ███████ ████████ ███████
██   ██ ██    ██ ██         ██    ██
██████  ██    ██ ███████    ██    ███████
██      ██    ██      ██    ██         ██
██       ██████  ███████    ██    ███████
*/

#post-caption {
  padding-bottom: 15px;
}



/*
 ██████  ██████  ███    ███ ███    ███ ███████ ███    ██ ████████ ███████
██      ██    ██ ████  ████ ████  ████ ██      ████   ██    ██    ██
██      ██    ██ ██ ████ ██ ██ ████ ██ █████   ██ ██  ██    ██    ███████
██      ██    ██ ██  ██  ██ ██  ██  ██ ██      ██  ██ ██    ██         ██
 ██████  ██████  ██      ██ ██      ██ ███████ ██   ████    ██    ███████
*/



.comment-text-name {
  font-weight: 600;
}

.comment-text, .comment-text-name {
  padding-right: 10px;
}

.comment-text {
  word-break: break-word;
}

.comment-submit {
  margin-left: 10px;
  border-top: 1px solid $light-gray;
  margin-right: 10px;
}

.comment-textarea {
  padding-top: 15px;
  resize: none;
  width: 100%;
}

/*
███████  ██████ ██████   ██████  ██      ██      ██████   █████  ██████
██      ██      ██   ██ ██    ██ ██      ██      ██   ██ ██   ██ ██   ██
███████ ██      ██████  ██    ██ ██      ██      ██████  ███████ ██████
     ██ ██      ██   ██ ██    ██ ██      ██      ██   ██ ██   ██ ██   ██
███████  ██████ ██   ██  ██████  ███████ ███████ ██████  ██   ██ ██   ██
*/



/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
