.navbarHeader {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #E3E3E3;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #ffffff;
  width: 900px;
  margin: auto;
}

.navbar-logo-title {
  display: flex;
}

.navbar-logo-title h1 {
  font-family: 'Pacifico', sans-serif;
  font-size: 24px;
  margin-left: 20px;
}

.navbar-buttons {
  display: flex;
}

#ragtagSVG {
  width: 64px;
  height: 48px;
  border-right: 1px solid #112558;
}
