/*
██   ██  ██████  ███    ███ ███████     ███████ ███████ ███████ ██████
██   ██ ██    ██ ████  ████ ██          ██      ██      ██      ██   ██
███████ ██    ██ ██ ████ ██ █████       █████   █████   █████   ██   ██
██   ██ ██    ██ ██  ██  ██ ██          ██      ██      ██      ██   ██
██   ██  ██████  ██      ██ ███████     ██      ███████ ███████ ██████
*/


.post-index {
  display: flex;
  flex-direction: column;
  width: 602px;
}


.post-index-item {
  width: 600px;
  height: 950px;
  border-width: 1px;
  border-style: solid;
  border-color: #E3E3E3;
  margin-bottom: 75px;
  background-color: #ffffff;
}

.post-index-item-image {
  height: 600px;
}
